/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */
.home .hero img
  max-width 450px!important
@media screen and (max-width:419px) {
  .theme-default-content div[class*="language-"] {
	  margin-right: auto;
    margin-left: auto;
	  border-radius: 6px;
  }
}